DEBUG=True
SECRET_KEY=django-insecure-xpto-dev-secret-key-change-in-production-12345
DB_NAME=xpto
DB_USER=xpto
DB_PASSWORD=xpto_password_secret
DB_HOST=localhost
DB_PORT=5432
ALLOWED_HOSTS=localhost,127.0.0.1
